.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.search-box {
    
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}