body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 100;
}


.nav-link {
    color: black;
    font-weight: 400;
}


.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 22px;
    border-bottom: 8px solid transparent;
    padding-top: 120px;
    overflow-x: hidden;
}

.search-box {
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  display: block;
  margin: 10px;
  padding: 10px;
  width: 625px;
}

.search-button {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #F8F9FA;
  color: #3c4043;
  text-align: center;
  border-radius: 8px;
  margin: 11px 4px;
  margin-left: 186px;
  padding: 0px 16px;
  border: 1px solid #F8F9FA;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border-radius: 8px;
}

.search-button:hover {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 178, 177);
}

.lucky-button {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #F8F9FA;
  color: #3c4043;
  text-align: center;
  border-radius: 8px;
  margin: 11px 4px;
  margin-left: 6px;
  padding: 0px 16px;
  border: 1px solid #F8F9FA;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border-radius: 8px;
}

.lucky-button:hover {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 178, 177);
}

.images-search-box {
  width: 525px;
}

.images-search-button {
  margin-left: 205px;
}